div{
    width: 200px;
    height: 100px;
    box-shadow: 10px 10px 10px orange;
    border: 2px solid  olive ;
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}